<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /emotion
    
    RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
    RewriteRule ^ %1 [NE,R=302]
    RewriteRule ^((?!public/).*)$ public/$1 [NC]
</IfModule>